FIREBASE_API_KEY = XXXXxxxx
FIREBASE_AUTH_DOMAIN = xxxxXXXX.firebaseapp.com
FIREBASE_DATABASE_URL = https://xxxXXXX.firebaseio.com
FIREBASE_PROJECT_ID = xxxxXXXX
FIREBASE_STORAGE_BUCKET = xxxxXXXX.appspot.com

FACEBOOK_PROJECT_ID=xxxxxxxxxxxxxxxx